body {
	margin: 0; 
	padding: 0m; 
	line-height: 1.5; 
	background-color: LightCyan;
	background-color: LightCyan; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom left, DarkBlue,LightCyan); /* Standard syntax (must be last) */
	}

ul {font-weight: bold;}
h2 {font-size: 3.5em}
h3 {font-size: 2em}

@font-face {
	font-family: sfregular;
    src: url(fonts/Skyfont.otf);
	}
@font-face {
	font-family: snregular;
    src: url(fonts/Sonika.ttf);
}
h1	{
	font-family: sfregular, Arial, sans-serif;
	font-size: 6em;
	}
p 	{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 1.2em; 
	} 

.holder {
	
	min-height: 100em;
	min-width: 90em;
	padding: 1em;
	background-color: LightCyan; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, LightCyan, DarkBlue); /* Standard syntax (must be last) */
	}

	
.header {
	background-color: #f2f2f2;
	width: 80em;
	}
.main	{
	background-color: white;
	width: 80em;
	}
	
.grad1 {
  
  
}